# QUESTION
Create a Machine Learning Model that can predict passengers that are oing to survive and those that are not going to survive

In [64]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix,roc_curve, accuracy_score,roc_auc_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import joblib
import warnings
warnings.filterwarnings('ignore')

In [65]:
#Load data
titanic_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [66]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [67]:
# Handle missing values
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

In [68]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Using Logistic Regresion Model

In [69]:
# Select relevant features and target variable
X = titanic_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
y = titanic_data['Survived']

In [70]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [71]:
# Fit the logistic regression model
logistic_model = sm.Logit(y_train, sm.add_constant(X_train))
result = logistic_model.fit()

Optimization terminated successfully.
         Current function value: 0.586797
         Iterations 6

In [72]:
# The machines predictions and evaluate the model
predictions = result.predict(sm.add_constant(X_test))
print(predictions)

709    0.235081
439    0.409229
840    0.295134
720    0.684078
39     0.287414
         ...
433    0.315179
773    0.233131
25     0.381011
84     0.522612
10     0.417425
Length: 179, dtype: float64

In [73]:
# >0.5 is equavalent to 1 and <0.5 is equivalent to 0
# function to change to integer
z

709    0
439    0
840    0
720    1
39     0
      ..
433    0
773    0
25     0
84     1
10     0
Length: 179, dtype: int32

#### Accuracy for logistic regression predictions

In [74]:
print(accuracy_score(y_test, predictions_binary))

0.7318435754189944

In [75]:
print(classification_report(y_test, predictions_binary))

              precision    recall  f1-score   support

           0       0.72      0.90      0.80       105
           1       0.77      0.50      0.61        74

    accuracy                           0.73       179
   macro avg       0.74      0.70      0.70       179
weighted avg       0.74      0.73      0.72       179

#### Tuning some hyperparameters for better accuracy score

In [76]:
#Feature Engineering
# Family size
titanic_data['Family_Size'] = titanic_data['SibSp'] + titanic_data['Parch']

# Alone indicator
titanic_data['Alone'] = (titanic_data['Family_Size'] == 0).astype(int)

In [77]:
# Select relevant features and target variable
X = titanic_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Family_Size', 'Alone']]
y = titanic_data['Survived']

# Handle missing values
X['Age'].fillna(X['Age'].mean(), inplace=True)

# Add constant term to the features for intercept
X = sm.add_constant(X)

In [78]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
# Fit the logistic regression model
logit_model = sm.Logit(y_train, X_train)
model = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.573571
         Iterations 7

In [80]:
# Make predictions on the test set
predictions = model.predict(X_test)
predictions_binary = (predictions > 0.5).astype(int)

In [81]:
# Evaluate the model
print(accuracy_score(y_test, predictions_binary))

0.776536312849162

##### After tuning some hyperparameters, we had a better accuracy score

In [82]:
# Save model
joblib.dump(model, 'churn_model.pkl')

['churn_model.pkl']

# Using  k Nearest Neighbours (KNN) Model

In [83]:
# Select relevant features and target variable
X = titanic_data[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare']]
y = titanic_data['Survived']

In [84]:
# Label encoding
le = LabelEncoder()
X['Sex'] = le.fit_transform(X['Sex'])

In [85]:
# Scaling
scaler = MinMaxScaler()
X[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare']] = scaler.fit_transform(X[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare']])

In [86]:
# Split data
train_X, val_X, train_y, val_y = train_test_split(
    X, y, random_state=0, train_size=0.8)

In [87]:
# Train model
model = KNeighborsClassifier(n_neighbors=2, metric='euclidean', weights='uniform', algorithm='auto', leaf_size=50, p=2)
model.fit(train_X, train_y)

KNeighborsClassifier(leaf_size=50, metric='euclidean', n_neighbors=2)

In [88]:
# Evaluate model
val_prediction = model.predict(val_X)
y_pred_proba = model.predict_proba(val_X)[:,1]
accuracy = accuracy_score(val_y, val_prediction)
print(f'Model accuracy: {accuracy}')

Model accuracy: 0.8044692737430168

In [89]:
print(confusion_matrix(val_y, val_prediction))
print(classification_report(val_y, val_prediction))

[[104   6]
 [ 29  40]]
              precision    recall  f1-score   support

           0       0.78      0.95      0.86       110
           1       0.87      0.58      0.70        69

    accuracy                           0.80       179
   macro avg       0.83      0.76      0.78       179
weighted avg       0.82      0.80      0.79       179

In [90]:
auc = roc_auc_score(val_y, y_pred_proba)
print(auc)

0.818379446640316

In [91]:
# Save model
joblib.dump(model, 'churn_model2.pkl')

['churn_model2.pkl']